.bg-linear {
  background: linear-gradient(to left, #402ade, #2868de);
}

/* style to add for every div with bg-img */
.bg-img {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-blue-text > span {
  color: #efeefc;
  background: linear-gradient(to top, #352995, transparent, transparent);
  line-height: 1.5;
  opacity: 0.9;
}
