.bg-linear {
  background: linear-gradient(to left, #402ade, #2868de);
}

/* style to add for every div with bg-img */
.bg-img {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-blue-text > span {
  color: #efeefc;
  background: linear-gradient(to top, #352995, transparent, transparent);
  line-height: 1.5;
  opacity: 0.9;
}

.bg-blue-text-full > span {
  background: linear-gradient(to top, #352995, transparent);
  opacity: 0.85;
}

.bg-clock {
  background: url("./assets/event/clock.svg");
}
.bg-location {
  background: url("./assets/event/location.svg");
}

/* making text go transparent */
.text-linear-dark {
  background: linear-gradient(45deg, #929292, #f0f0f0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* animations */
.animation-opacity {
  animation: opacity 0.7s both;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-transX {
  animation: transX 0.6s both;
}
@keyframes transX {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0);
  }
}
