/* fire emoji  */
.bg-fire {
  width: 52px;
  height: 52px;
  background: url("../../../assets/header/fire.png");
  top: -40px;
  right: -40px;
}
/* those 2 star on left of text */
.bg-sparkle {
  width: 61px;
  height: 61px;
  background: url("../../../assets/header/sparkle.png");
  left: -40px;
  bottom: -40px;
}
/* changing sparkle position from bottom to top */
@media screen and (min-width: 976px) {
  .bg-sparkle {
    top: -40px;
  }
}

/* arrows */
.bg-arrow-dark {
  background: url("../../../assets/header/arrow-dark.svg");
  width: 24px;
  height: 24px;
}
.bg-arrow-white {
  background: url("../../../assets/header/arrow-white.svg");
  width: 24px;
  height: 24px;
}

/* those two emoji have orange color spreaded around them */
.bg-orange-spread {
  width: 15px;
  height: 15px;
  background-color: orange;
  filter: blur(20px);
}

/* style to add for every div with bg-img */
.bg-img {
  background-repeat: no-repeat;
  background-position: center;
}

/* made span to able to add bg-color for text not the div */
.header-big-text > span {
  font-weight: 700;
  line-height: 1.5;
  background: linear-gradient(to top, #352995, transparent);
  opacity: 0.85;
}
/* header second text: about cafeTech */
.header-sec-text {
  background: linear-gradient(45deg, #929292, #f0f0f0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
