.comment-parent {
  background-image: url("../../../assets/comment/comment-background.png");
  background-repeat: repeat;
  animation: slideBackground 20s linear infinite;
  background-size: cover;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.comment {
  direction: rtl;
  background-image: url("../../../assets/comment/quote.svg");
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: auto;
}
.comment-picture {
  filter: drop-shadow(0 0 15px rgb(168, 53, 53, 0.7));
}

@media screen and (min-width: 1796px) {
  .comment-parent {
    background-image: url("../../../assets/comment/comment-background.png");
    background-size: contain;
  }
}
.custom-next-arrow {
  /* background-size: contain; */
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--box-strok, #4b4b6a);
  background: var(--box, #23232e);
  position: absolute;
  top: 50%;
  padding: 10px 15px;
  width: 55px;
  height: 51px;
  right: -50px;
  cursor: pointer;
  z-index: 1;
  transform: scaleX(-1);
}

.custom-prev-arrow {
  background-size: contain;
  align-content: center;
  border-radius: 15px;
  border: 1px solid var(--box-strok, #4b4b6a);
  background: var(--box, #23232e);
  position: absolute;
  top: 50%;
  padding: 10px 15px;
  width: 55px;
  height: 51px;
  left: -50px;
  cursor: pointer;
  z-index: 1;
}
